<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <th:block th:fragment="home_navbar">
        <div class="bg-primary text-center py-2">
            <div class="container">
                <p class="mb-0 text-white">Fall Sale 2021 - Buy One get One for FREE</p>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm home-navbar">
            <div class="container">
                <a class="navbar-brand fw-bold" href="#">G3Learn</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown pt-1 me-3">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Categories
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <form class="d-flex rounded border">
                                <span class="input-group-text bg-white border-0" id="basic-addon1"><i class="fas fa-search form-control-feedback"></i></span>
                                <input class="form-control me-2 border-0 search-box" type="text" placeholder="Search any courses..." aria-label="Search">
                            </form>
                        </li>
                    </ul>
                    <a href="#" class="btn btn-outline-primary me-2">Login</a>
                    <a href="#" class="btn btn-primary">Sign up</a>

                </div>
            </div>
        </nav>
    </th:block>
</body>
</html>