body {
    font-family: "Roboto", sans-serif;
}

/* HOME NAVBAR */
.home-navbar {
    z-index: 9;
}

.search-box {
    max-height: 46px;
}

.search-box:focus {
    box-shadow: none;
}

/* SLIDESHOW */
.slide-text-box {
    background: #fff;
    text-align: left;
    padding: 2rem;
    border-radius: 3px;
    display: none;
}

.slide-text-box h5 {
    font-family: "DM Serif Display", serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
}

/* FEATURED SUBJECTS */
.small-course-box .small-course-box-title {
    display: -webkit-box!important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}

.small-course-box .small-course-box-author {
    font-size: 14px;
}

a.small-course-box {
    color: inherit;
}

/* HOT POSTS */
.small-blog-post .small-blog-post-author, .small-blog-post .small-blog-post-date {
    font-size: 14px;
}

a.small-blog-post {
    color: inherit;
}

.small-blog-post .small-blog-post-title {
    font-family: "Roboto", sans-serif;
    font-weight: 600;

}

.small-blog-post img {
    min-width: 100%;
    max-height: 220px;
}

/* FOOTER */
.main-footer {
    background: #F8F9FB;
}

.main-footer h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}


/* RESPONSIVE */
@media(min-width: 992px) {
    /* SLIDESHOW */
    .slide-text-box {
        display: block;
        left: 2%;
        right: 60%;
    }

}


@media(min-width: 1200px) {
    /* HOME NAVBAR */
    .search-box {
        max-height: 46px;
        min-width: 400px;
    }
    /* SLIDESHOW */
    .slide-text-box {
        left: 5%;
        right: 55%;
    }
}

@media(min-width: 1400px) {
    /* HOME NAVBAR */
    .search-box {
        max-height: 46px;
        min-width: 600px;
    }

    /* SLIDESHOW */
    .slide-text-box {
        right: 65%;
        left: 5%;
        top: 20%;
        bottom: 20%;
    }
}


/* BLOG LIST */
.blog-list-item h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

