<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout_admin/admin_nodashboard_layout}">
<head>
    <meta charset="UTF-8">
    <title>Slide form</title>
</head>
<body>
<div layout:fragment="content">
    <div class="home-cotent">
        <section id="main">
            <div class="container">
                <div class="col-md-12">
                    <div class="card" style="margin-top: 33px">
                        <h5 class="card-header">EDIT BLOG</h5>
                        <form th:action="@{/blog/update/{id}(id=${blog.id})}" th:object="${blog}" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <div class="form-group col-md-2">
                                    <label for="id">ID</label>
                                    <input type="text" th:field="*{id}" class="form-control" id="id" readonly>
                                </div>
                            </div>

                            <div class="form-group col-md-3">
                                <label for="inputTitle">Title</label>
                                <input type="text" class="form-control" id="inputTitle" th:field="*{title}">
                            </div>

                            <div class="form-group col-md-3">
                                <label for="inputBrief">Brief</label>
                                <input type="text" class="form-control" id="inputBrief" th:field="*{brief}">
                            </div>

                            <div class="form-group col-md-3">
                                <label for="inputContent">Content</label>
                                <textarea type="text" class="form-control" id="inputContent" th:field="*{content}"></textarea>
                            </div>

                            <div class="form-group col-md-3">
                                <label for="inputFeature">Featured</label>
                                <input type="text" class="form-control" id="inputFeature" th:field="*{featured}">
                            </div>

                            <div class="form-group col-md-3">
                                <label for="fileImage">Image:</label>
                                <input type="file" name="fileImage" id="fileImage" accept="image/jpeg, image/png"/>
                            </div>

                            <div class="form-group col-md-3">
                                <label for="inputAuthor">Author</label>
                                <input type="text" class="form-control" id="inputAuthor" th:field="*{user.username}" readonly>
                            </div>

                            <div class="form-group col-md-3">
                                <span for="inputCourseLink">Category</span>
                                <select th:field="*{category}" class="form-select" name="category"
                                        style="height: auto;">
                                    <th:block th:each="cate : ${categoryList}">
                                        <option th:text="${cate.value}" th:value="${cate.id}" name="cate_id"></option>
                                    </th:block>
                                </select>
                            </div>

                            <div class="form-group" style="margin-left: 15px">
                                <label>Status</label>
                                <th:block th:each="status : ${statusList}">
                                    <input type="radio" th:field="*{status}"
                                           th:value="${status.id}"
                                           th:text="${status.value}" class="m-2"/>
                                </th:block>
                            </div>

                            <div th:if="${currUser.username} == ${blog.user.username}">
                            <a th:href="@{/admin_blog}" style="margin-bottom: 10px;margin-left: 10px;"
                               type="submit" class="btn btn-secondary">Cancel</a>
                            <button type="submit" style="margin-bottom: 10px" class="btn btn-primary">Save</button>
                            </div>

                            <div th:if="${currUser.username} != ${blog.user.username}">
                                <div>
                                    <i class="fas fa-exclamation-triangle"></i>You don't have permission to edit this blog
                                </div>
                                <a th:href="@{/admin_blog}" style="margin-bottom: 10px;margin-left: 10px;"
                                   type="submit" class="btn btn-secondary">Back to blog list</a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</div>
</body>
</html>