<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout_admin/admin_nodashboard_layout}">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>

<div layout:fragment="content">
    <div class="home-cotent">
        <section id="main">
            <div class="container">
                <div class="col-md-12">
                    <div class="card" style="margin-top: 33px">
                        <h5 class="card-header">EDIT USER</h5>
                        <form th:action="@{/update/{id}(id=${userDetail.id})}" th:object="${userDetail}" method="post">
                            <div class="form-group">
                                <div class="form-group col-md-2">
                                    <label for="inputUsername">User name</label>
                                    <input type="text" th:field="*{username}" class="form-control" id="inputUsername">
                                </div>
                            </div>

                            <div class="form-group col-md-3">
                                <label for="inputFullName">Full name</label>
                                <input type="text" class="form-control" id="inputFullName" th:field="*{fullName}">
                            </div>

                            <div class="form-group" style="margin-left: 15px">
                                <label>Gender</label>
                                <th:block>
                                    <input type="radio" th:field="*{gender}"
                                           th:value="1"
                                           th:text="Male"
                                           class="m-2"
                                    >
                                    <input type="radio" th:field="*{gender}"
                                           th:value="0"
                                           th:text="Female"
                                           class="m-2"
                                    >
                                </th:block>
                            </div>

                            <div class="form-group col-md-3">
                                <label for="inputEmail">Email</label>
                                <input type="text" class="form-control" id="inputEmail" th:field="*{email}">
                            </div>

                            <div class="form-group col-md-2">
                                <label for="inputPhone">Phone number</label>
                                <input type="text" class="form-control" id="inputPhone" th:field="*{phone}">
                            </div>

                            <div class="form-group" style="margin-left: 15px">
                                <label>Status</label>
                                <th:block th:each="status : ${listStatus}">
                                    <input type="radio" th:field="*{status}"
                                           th:value="${status.id}"
                                           th:text="${status.value}" class="m-2"/>
                                </th:block>
                            </div>

                            <div class="form-group" style="margin-left: 15px">
                                <label>Role</label>
                                <th:block th:each="role : ${listRoles}">
                                    <input type="checkbox" th:field="*{roleList}"
                                           th:value="${role.role_id}"
                                           th:text="${role.name}" class="m-2"/>
                                </th:block>
                            </div>

                            <a th:href="@{/admin_home}" style="margin-bottom: 10px;margin-left: 10px;"
                               type="submit" class="btn btn-secondary">Cancel</a>
                            <button type="submit" style="margin-bottom: 10px" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</html>