<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout_admin/admin_layout}">

<head>
    <meta charset="UTF-8">
    <title>Admin Homepage</title>
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->

</head>
<body>
<!--Trung Đức code phần này-->

<div layout:fragment="user">
    <h4><i class="fas fa-user"></i><span th:text="${user.username}"></span></h4>
</div>
<div layout:fragment="main_content">
    <!--    Dash board Code start here -->
    <div class="dashboard">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        </div>
        <!--        Content row-->
        <div class="row">
            <div class="row">
                <!-- Total users active -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Total users active
                                    </div>
                                    <!--                                Number of total activec users here -->
                                    <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${size}"></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-users fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col align-self-end">
                            <a th:href="@{/admin_user_list}">More info</a>
                        </div>
                    </div>
                </div>

                <!-- Total courses in website -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                        Total Course
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${sizeCourse}"></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fab fa-leanpub fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col align-self-end">
                            <a href="#">More info</a>
                        </div>
                    </div>
                </div>

                <!-- Total Students -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                        Total Students
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${sizeStudent}"></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-user-graduate fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col align-self-end">
                            <a th:href="@{/admin_user_list}">More info</a>
                        </div>
                    </div>
                </div>
                <!-- Total teachers active -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                        Total teachers
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${sizeTeacher}"></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-chalkboard-teacher fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col align-self-end">
                            <a th:href="@{/admin_user_list}">More info</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Content Row -->

            <!--            End of total details-->
            <!--            Start of graph of website-->

            <!-- Main row -->
            <div class="row">

                <!-- Pie Chart -->
                <div class="col-xl-7 col-lg-6">
                    <div class="card shadow mb-4">
                        <!-- Thay chart vào thẻ div này -->
                        <div class="card-body">
                            <div id="barChartContainer" style="height: 400px"></div>
                        </div>
                    </div>
                </div>

                <!-- Other data Chart -->
                <div class="col-xl-5 col-lg-6">
                    <div class="card shadow mb-4">
                        <!-- Thay chart vào thẻ div này -->
                        <div class="card-body">
                            <div id="container" style="height: 400px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>