<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>

    <!-- css include -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome.css}">
    <link rel="stylesheet" th:href="@{/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/metismenu.css}">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
</head>
<body>
<div class="container rounded bg-white mt-5 mb-5 col-lg-6">

    <div th:if="${msg}" class="mt-10">
        <h5 class="alert alert-danger text-center" th:text="${msg}"></h5>
    </div>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form th:action="@{/user_home/change_password}" method="POST">
                <div class="align-self-center">
                    <div class="p-3">
                        <div class="d-flex justify-content-center align-items-center mb-3">
                            <h4 class="font-weight-bold">CHANGE PASSWORD</h4>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <label class="labels">Old Password: </label>
                                <input type="password" class="form-control" name="oldPassWord" required>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-12"><label class="labels">New Password: </label>
                                <input id="password" type="password" class="form-control" name="newPassWord" required>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-12"><label class="labels">Retype New</label>
                                <input id="confirm_password" type="password" class="form-control" name="retypePass" required onkeyup='check();'>
                            </div>
                        </div>
                        <span id='message'></span>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button id="submit" type="submit" class="align-content-center btn btn-primary text-center mb-5 me-5">Save changes</button>
                    <a class="btn btn-primary text-center mb-5 align-content-center" th:href="@{/user_home}">Cancel</a>
                    <!--                    <button class="align-content-center btn btn-primary text-center mb-5">Cancel</button>-->
                </div>
            </form>
        </div>
    </div>
</div>
</body>

<script type="text/javascript">
    function check() {
        if (document.getElementById('password').value ===
            document.getElementById('confirm_password').value) {
            document.getElementById('message').style.color = 'green';
            document.getElementById('message').innerHTML = 'Matching';
            document.getElementById('submit').disabled = false;
        } else {
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').innerHTML = 'Password not matching';
            document.getElementById('submit').disabled = true;
        }
    }
</script>
</html>