<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>

    <!-- css include -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome.css}">
    <link rel="stylesheet" th:href="@{/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/metismenu.css}">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
</head>
<body>
<div class="container rounded bg-white mt-5 mb-5 col-lg-6">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Change password</div>

                <div class="panel-body">
                    <!--                    Thông báo đăng nhập thành công hoặc lỗi-->
                    <form action="#" th:action="@{/change_password}" th:object="" method="POST">

                        <input type="password" placeholder="Password" th:field="" required>
                        <input type="password" placeholder="Password" th:field="" required>
                        <input type="password" placeholder="Password" th:field="" required>

                        <button class="thm_btn" type="submit">Change Pass</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>