<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Course Details</title>
    <th:block th:replace="fragments/meta_head :: meta_head"></th:block>
</head>
<body>
<!-- body wrap start -->
<div class="body_wrap">
    <div th:include="fragments/navbar:: home_navbar(${listCategory})"></div>

    <main class="container">
        <!-- course details start -->
        <section class="course_details_area pt-120 pb-90">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="course_dtls_left mb-30">
                            <div class="cdl_top mb-30 row">
                                <div class="col-6">
                                    <img th:src="${course.thumbnail}" alt="">
                                </div>
                                <div class="cd_content pt-0 col-6">
                                    <h3 class="title" th:text="${course.title}"></h3>
                                    <span th:text="${course.shortDescription}"></span>
                                    <div class="meta mt-2">
                                        <div class="left ul-li">
                                            <span class="old text-decoration-line-through"
                                                  th:text="'$' + ${course.minSalePrice().getListPrice()}">
                                            </span>
                                            <span class="price text-danger h5"
                                                  th:text="'$' + ${course.minSalePrice().getSalePrice()}">
                                            </span>
                                        </div>
                                        <div class="right">
                                            <span class="price text-primary h5"
                                                  th:text="'Created: ' + ${course.getDateCreate()}">
                                            </span>
                                        </div>
                                    </div>
                                    <div>
                                        <!--                                        controller to enroll the course-->
                                        <!--                                        change to a link-->
                                        <button type="button" class="btn btn-primary col-12" data-bs-toggle="modal"
                                                data-bs-target="#check">
                                            Enroll course
                                        </button>
                                        <!--                                        Show the package of this course-->
                                        <!--                                        <button class="btn btn-primary col-12">Enroll course</button>-->
                                    </div>

                                    <!--                           Modal to see price package (Trung Đức :>)-->
                                    <div class="modal fade" id="check" tabindex="-1" aria-labelledby=""
                                         aria-hidden="true">
                                        <div class="modal-dialog modal-xl">
                                            <form th:action="@{'/course/package/'+${course.id}}" method="post">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="">All Price Package Available</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div id="resultss" class="modal-body">
                                                        <div class="row">
                                                            <h3 style="text-align: center;" class="title"
                                                                th:text="${course.title}"></h3>
                                                            <!--                                                           Data Mid here-->
                                                            <!--                                                            <div class="col">-->
                                                            <!--                                                                <div class="">-->
                                                            <!--                                                                    <label class="col-form-label" style="font-weight:bold;width : 140px">Content từ chỗ này: </label>-->
                                                            <!--                                                                    <input class="form-control" type="text" id="name" name="name" value="@item.name">-->
                                                            <!--                                                                    <input class="form-control" type="hidden" id="id_category" name="id_category" value="@item.id_category" hidden>-->
                                                            <!--                                                                </div>-->
                                                            <!--                                                            </div>-->
                                                            <div class="col-md-4">
                                                                <img th:src="${course.thumbnail}" alt="">
                                                            </div>
                                                            <div class="col-md-4">
                                                                <span th:text="${course.shortDescription}"></span>

                                                                <!--                                                                All price packages available in the course-->
                                                            </div>
                                                            <div class="col-md-4">
                                                                <span class="price text-primary h5"
                                                                      th:text="'Created: ' + ${course.getDateCreate()}">
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <th:block th:if="${sizePackage} != 0">
                                                        <div style="text-align: center" class="row">
                                                            <h5 class="mt-2">Price Package: </h5>
                                                            <ul class="row">
                                                                <li th:each="package :${listPackage}">
                                                                    <input style="padding: 0;" class="form-check-input"
                                                                           name="package_id"
                                                                           type="radio" th:value="${package.id}"
                                                                           required/>
                                                                    <label style="margin-left: 10px">Name:</label>
                                                                    <label style="width: 150px" th:for="${package.id}"
                                                                           th:text="${package.name}"></label>
                                                                    Sale Price:
                                                                    <label style="width: 100px" th:for="${package.id}"
                                                                           th:text="${package.salePrice}"></label>
                                                                    Duration:
                                                                    <label th:for="${package.id}"
                                                                           th:text="${package.duraion}"></label>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        </th:block>
<!--                                                        Nếu khoá học đó miễn phí thì truyền về id là 0-->
                                                        <th:block th:if="${sizePackage} == 0">
                                                            <input type="hidden" name="package_id" th:value="0">
                                                        </th:block>
<!--                                                        <input class="form-control" type="text" id="name" name="name" value="@item.name">-->
<!--                                                        <input class="form-control" type="hidden" id="id_category" name="id_category" value="@item.id_category" hidden>-->

                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" style="width:100px"
                                                                class="btn btn-primary">Submit
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <!--                                    End of modal to see price package of each course-->

                                </div>
                            </div>
                            <div class="cdl_bottom">
                                <ul class="nav nav-pills mb-15" id="pills-tab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                                data-bs-target="#pills-home" type="button" role="tab"
                                                aria-controls="pills-home"
                                                aria-selected="true">Overview
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                                data-bs-target="#pills-profile" type="button" role="tab"
                                                aria-controls="pills-profile"
                                                aria-selected="false">Topics
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="pills-quiz-tab" data-bs-toggle="pill"
                                                data-bs-target="#pills-quizzes" type="button" role="tab"
                                                aria-controls="pills-quizzes"
                                                aria-selected="false">Quizzes
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                                                data-bs-target="#pills-contact" type="button" role="tab"
                                                aria-controls="pills-contact"
                                                aria-selected="false">Instructor
                                        </button>
                                    </li>
                                </ul>
                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                                         aria-labelledby="pills-home-tab">
                                        <div class="ov_text_wrap">
                                            <div class="ov_text">
                                                <p th:text="${course.description}"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                                         aria-labelledby="pills-profile-tab">
                                        <div class="cc_wrap mt-20">
                                            <ul th:each="topic:${topicList}" class="accordion_box clearfix">
                                                <li class="accordion block active-block">
                                                    <div th:text="${topic.topicName}" class="acc-btn"></div>
                                                    <ul class="acc_body current">
                                                        <li th:each="lesson:${topic.getLessonList()}">
                                                            <a
                                                                    th:text="${lesson.lessonName}"
                                                                    th:href="@{'/learning/course/'+${course.id}}"></a>
                                                            <div class="acb_right">
                                                                <span class="title">
                                                                    <a
                                                                            th:href="@{'/learning/course/'+${course.id}}">View</a>
                                                                </span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pills-quizzes" role="tabpanel"
                                         aria-labelledby="pills-quizzes-tab">
                                        <a class="link-detail" th:href="@{'/add_quiz/'+${course.id}}">Add new quiz</a>
                                        <div class="cc_wrap mt-20">
                                            <ul th:each="quiz:${course.getQuizList()}" class="accordion_box clearfix">
                                                <li class="accordion block">
                                                    <div th:text="${quiz.name}" class="acc-btn"></div>
                                                    <ul class="acc_body current">
                                                        <li>
                                                            <span>Duration</span>
                                                            <div class="acb_right">
                                                                <span th:text="${quiz.duration}+' min'"
                                                                      class="acc-time"></span>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <span>Number of questions</span>
                                                            <div class="acb_right">
                                                                <span th:text="${quiz.numberQuestion}+' quest'"
                                                                      class="acc-time"></span>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="acb_right">
                                                                <button><a
                                                                        th:href="@{'/attend_quiz/'+${quiz.id}}"
                                                                        class="link-detail text-primary">Attend</a>
                                                                </button>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pills-contact" role="tabpanel"
                                         aria-labelledby="pills-contact-tab">
                                        <div th:each="author:${course.userList}" class="instructor_wrap">
                                            <div class="instructor_info ul_li">
                                                <div class="instructor_img">
                                                    <img th:src="${author.avatar}" alt="avatar">
                                                </div>
                                                <div class="info">
                                                    <h3 th:text="${author.fullName}" class="title"></h3>
                                                    <div class="instructor_student ul_li">
                                                        <h6 th:text="${author.getCourseList().size()}+' courses'"></h6>
                                                    </div>
                                                    <div class="instructor_student ul_li">
                                                        <h6 th:text="'Email: '+${author.getEmail()}"></h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--                    Có thể thêm vò modal form trong course.html-->
                    <div class="col-lg-4">
                        <div class="course_dtls_right">
                            <div class="course_widget_wrap related_course mb-30">
                                <h3>New Course:</h3>
                                <ul class="course_widget">
                                    <li th:each="course : ${newCourses}">
                                        <div class="thumb">
                                            <img style="height: 100%;"
                                                 th:src="${course.thumbnail}" alt="">
                                        </div>
                                        <div class="content">
                                            <h6><a th:href="@{'/course_detail/'+${course.getId()}}"
                                                   th:text="${course.title}"></a></h6>
                                            <span class="new"
                                                  th:text="'$' + ${course.minSalePrice().getSalePrice()}"></span>
                                            <span class="old"
                                                  th:text="'$' + ${course.minSalePrice().getListPrice()}"></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- course details end -->
    </main>

    <th:block th:replace="fragments/footer :: footer">

    </th:block>

    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>


</div>
<!-- body wrap end -->

<!-- jquery include -->
<th:block th:replace="fragments/js_lib :: js_lib">
</th:block>
<script type="text/javascript">
    $(document).ready(function () {
        $(".link-detail").on("click", function (e) {
            e.preventDefault();
            $("#myModal").modal("show").find(".modal-content").load($(this).attr("href"));
        });
    });

</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>