<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Edulan - Education HTML Template</title>
  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">

  <!-- css include -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/fontawesome.css">
  <link rel="stylesheet" href="css/themify-icons.css">
  <link rel="stylesheet" href="css/animate.min.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/magnific-popup.css">
  <link rel="stylesheet" href="css/metismenu.css">
  <link rel="stylesheet" href="css/nice-select.css">
  <link rel="stylesheet" href="css/jquery-ui.css">
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/responsive.css">
<!--  <link href="http://localhost:5500/themify-icons.css" rel="stylesheet">-->
</head>

<body>
  <!-- body wrap start -->
  <div class="body_wrap">

    <!-- backtotop - start -->
    <div id="thetop"></div>
    <div id="backtotop">
      <a href="#" id="scroll">
        <i class="fal fa-arrow-up"></i>
        <i class="fal fa-arrow-up"></i>
      </a>
    </div>
    <!-- backtotop - end -->

    <!-- start Preloader  -->
    <div class="preloder_part">
      <div class="spinner">
        <div class="dot1"></div>
        <div class="dot2"></div>
      </div>
    </div>
    <!-- End Preloader  -->

    <!-- header start -->
    <header class="header_area">
      <div class="header_top pl-130 pr-130">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <ul class="left">
                <li>info@tojn.com</li>
                <li> 24/7</li>
              </ul>
              <ul class="right">
                <li><a href="#"><span class="ti-twitter"></span></a></li>
                <li><a href="#"><i class="ti-linkedin"></i></a></li>
                <li><a href="#"><i class="ti-instagram"></i></a></li>
                <li><a href="#"><i class="ti-vimeo-alt"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="sticky-header" class="header_bottom white_bg pl-130 pr-130">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-xl-2 col-lg-2 col-6">
              <div class="logo">
                <a href="index.html"><img src="picture/logo.png" alt=""></a>
              </div>
            </div>
            <div class="col-xl-7 col-lg-8 d-none d-lg-block">
              <nav class="main_menu">
                <ul>
                  <li class="active"><a href="index.html">Home</a></li>
                  <li><a href="templates/about.html">About</a></li>
                  <li class="has_dropdown">
                    <a href="#">Pages</a>
                    <ul class="submenu">
                      <li class="has_dropdown">
                        <a href="#">Shop</a>
                        <ul class="submenu">
                          <li><a href="shop.html">Shop List</a></li>
                          <li><a href="shop-details.html">Shop Details</a></li>
                          <li><a href="cart.html">Shop Cart</a></li>
                          <li><a href="checkout.html">Shop Checkout</a></li>
                        </ul>
                      </li>
                      <li class="has_dropdown">
                        <a href="#">Team</a>
                        <ul class="submenu">
                          <li><a href="team.html">Team</a></li>
                          <li><a href="team-details.html">Team Details</a></li>
                        </ul>
                      </li>
                      <li><a href="pricing.html">Pricing</a></li>
                      <li><a href="faq.html">FAQ</a></li>
                      <li><a href="account.html">Account</a></li>
                    </ul>
                  </li>
                  <li class="has_dropdown">
                    <a href="#">Courses</a>
                    <ul class="submenu">
                      <li><a href="courses.html">Courses</a></li>
                      <li><a href="course-details.html">Course Details</a></li>
                    </ul>
                  </li>
                  <li class="has_dropdown">
                    <a href="#">Blog</a>
                    <ul class="submenu">
                      <li><a href="blog.html">Blog</a></li>
                      <li><a href="blog-details.html">Blog Details</a></li>
                    </ul>
                  </li>
                  <li><a href="contact.html">Contact</a></li>
                </ul>
              </nav>
            </div>
            <div class="col-xl-3 col-lg-2 col-6">
              <div class="header_right">
                <div class="header_search_wrap">
                  <div class="search_main">
                    <i class="fal fa-search"></i>
                    <span><i class="fal fa-times"></i></span>
                  </div>
                  <div class="search_form_main">
                    <form role="search" method="get" action="#">
                      <input type="text" placeholder="Search Keywords">
                      <button type="submit"><i class="fal fa-search"></i></button>
                    </form>
                  </div>
                </div>
                <div class="hamburger_menu">
                  <a href="javascript:void(0);" class="">
                    <i class="fal fa-bars"></i>
                  </a>
                </div>
                <div class="account">
                  <a href="account.html"><i class="fal fa-key"></i>account</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- header start -->

    <!-- slide-bar start -->
    <aside class="slide-bar">
      <div class="close-mobile-menu">
        <a href="javascript:void(0);"><i class="ti-close"></i></a>
      </div>

      <!-- sidebar-info start -->
      <div class="sidebar-info">
        <div class="sidebar-logo mb-30">
          <a href="index.html">
            <img src="picture/logo.png" alt="logo">
          </a>
        </div>
        <div class="sidebar-content mb-45">
          <h4 class="s-title">About us</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud nisi ut aliquip ex ea commodo consequat.</p>
          <a class="thm_btn" href="contact.html">Contact us<i class="fal fa-long-arrow-right"></i></a>
        </div>
        <div class="s_contact-list mb-30">
          <h4 class="s-title">Get In Touch</h4>
          <div class="footer_widget pt-20">
            <ul>
              <li>
                <p>786/A Romada tower mall Brooklyn, NYC</p>
              </li>
              <li>
                <p>+1 876 765765</p>
                <p>(+1)787 876876 </p>
              </li>
              <li>
                <p>info@tonj.com</p>
                <p>jobsinfo@tonj.com</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="social_icon mt-20">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-behance"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
      <!-- sidebar-info end -->

      <!-- side-mobile-menu start -->
      <nav class="side-mobile-menu">
        <div class="header-mobile-search">
          <form role="search" method="get" action="#">
            <input type="text" placeholder="Search Keywords">
            <button type="submit"><i class="ti-search"></i></button>
          </form>
        </div>
        <ul id="mobile-menu-active">
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li class="dropdown"><a href="#">Pages</a>
            <ul class="sub-menu">
              <li class="dropdown">
                <a href="#">Shop</a>
                <ul class="submenu">
                  <li><a href="shop.html">Shop List</a></li>
                  <li><a href="shop-details.html">Shop Details</a></li>
                  <li><a href="cart.html">Shop Cart</a></li>
                  <li><a href="checkout.html">Shop Checkout</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#">Team</a>
                <ul class="submenu">
                  <li><a href="team.html">Team</a></li>
                  <li><a href="team-details.html">Team Details</a></li>
                </ul>
              </li>
              <li><a href="pricing.html">Pricing</a></li>
              <li><a href="faq.html">FAQ</a></li>
              <li><a href="account.html">Account</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#">Courses</a>
            <ul class="sub-menu">
              <li><a href="courses.html">Courses</a></li>
              <li><a href="course-details.html">Course Details</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#">Blog</a>
            <ul class="sub-menu">
              <li><a href="blog.html">Blog</a></li>
              <li><a href="blog-details.html">Blog Details</a></li>
            </ul>
          </li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
      <!-- side-mobile-menu end -->
    </aside>
    <div class="body-overlay"></div>
    <!-- slide-bar end -->

    <main>
      <!-- hero start -->
      <section class="hero_area">
        <div class="hero_wrap hero_height">
          <div class="container-fluid">
            <div class="row flex-row-reverse align-items-center">
              <div class="col-xl-7 col-lg-6 col-md-12">
                <div class="hero_img f-right">
                  <img src="static/picture/hero_img.png" alt="">
                </div>
              </div>
              <div class="col-xl-5 col-lg-6 col-md-12">
                <div class="hero_content">
                  <div class="icon">
                    <img src="static/picture/hero_icon.png" alt="">
                  </div>
                  <span># Learn Anything, Anytime, Anywhere</span>
                  <h2>Best Online Learning For your future.</h2>
                  <p>We believe everyone has the capacity to be creative. Turitor is a place where
                    people develop their own potential.</p>
                  <div class="hero_btn mt-15">
                    <a class="thm_btn" href="courses.html">View Courses<i class="fal fa-long-arrow-right"></i></a>
                    <a class="thm_btn thm_btn-2" href="about.html">Start Trial<i
                        class="fal fa-long-arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- hero end -->

      <!-- courses category start -->
      <section class="courses_cat_area pt-110 pb-120">
        <div class="container">
          <div class="row align-items-center mb-25">
            <div class="col-lg-8 col-md-8">
              <div class="sec_title">
                <h2>Recent Popular Subjects </h2>
                <p>Online learning offers a new way to explore subjects you’re passionate about.</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="crs_btn text-md-end">
                <a class="thm_btn" href="courses.html">View all<i class="fal fa-long-arrow-right"></i></a>
              </div>
            </div>
          </div>
          <div class="row g-0">
            <div class="col-lg-3 col-md-6">
              <div class="ct_single">
                <div class="ser_thumb mb-25">
                  <img src="static/picture/s_01.png" alt="">
                </div>
                <h3><a href="courses.html">Computer Science</a></h3>
                <p>Rorem ipsum dolor sit amet, consectetur adipisicing elit, seddo eiusmod tempor.</p>
                <div class="ser_icon pt-25">
                  <a href="courses.html"><i class="fal fa-long-arrow-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="ct_single">
                <div class="ser_thumb mb-25">
                  <img src="static/picture/s_02.png" alt="">
                </div>
                <h3><a href="courses.html">Web Development</a></h3>
                <p>Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuntey.</p>
                <div class="ser_icon pt-25">
                  <a href="courses.html"><i class="fal fa-long-arrow-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="ct_single">
                <div class="ser_thumb mb-25">
                  <img src="static/picture/s_03.png" alt="">
                </div>
                <h3><a href="courses.html">Business Study</a></h3>
                <p>Terem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incey</p>
                <div class="ser_icon pt-25">
                  <a href="courses.html"><i class="fal fa-long-arrow-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="ct_single">
                <div class="ser_thumb mb-25">
                  <img src="static/picture/s_04.png" alt="">
                </div>
                <h3><a href="courses.html">Data Science</a></h3>
                <p>Rorem ipsum dolor sit amet, consectetur adipisicing elit, do eiusmod tempor.</p>
                <div class="ser_icon pt-25">
                  <a href="courses.html"><i class="fal fa-long-arrow-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="ct_single">
                <div class="ser_thumb mb-25">
                  <img src="static/picture/s_05.png" alt="">
                </div>
                <h3><a href="courses.html">Enginnering</a></h3>
                <p>Rorem ipsum dolor sit amet, consectetur adipisicing elit, seddo eiusmod tempor incididey.</p>
                <div class="ser_icon pt-25">
                  <a href="courses.html"><i class="fal fa-long-arrow-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="ct_single">
                <div class="ser_thumb mb-25">
                  <img src="static/picture/s_06.png" alt="">
                </div>
                <h3><a href="courses.html">User Experience</a></h3>
                <p>Rorem ipsum dolor sit amet, consectetur adipisicing elit, seddo eiusmod tempor incididey.</p>
                <div class="ser_icon pt-25">
                  <a href="courses.html"><i class="fal fa-long-arrow-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="ct_single">
                <div class="ser_thumb mb-25">
                  <img src="static/picture/s_07.png" alt="">
                </div>
                <h3><a href="courses.html">Psychology</a></h3>
                <p>Rorem ipsum dolor sit amet, consectetur adipisicing elit, seddo eiusmod tempor incididey.</p>
                <div class="ser_icon pt-25">
                  <a href="courses.html"><i class="fal fa-long-arrow-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="ct_single">
                <div class="ser_thumb mb-25">
                  <img src="static/picture/s_08.png" alt="">
                </div>
                <h3><a href="courses.html">Architecture Planing</a></h3>
                <p>Rorem ipsum dolor sit amet, consectetur adipisicing elit, seddo eiusmod tempor.</p>
                <div class="ser_icon pt-25">
                  <a href="courses.html"><i class="fal fa-long-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- courses category end -->

      <!-- about start -->
      <section class="about_area white_bg pt-120 pb-90">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="about_img mb-30">
                <img src="static/picture/about_img.png" alt="">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="about_content mb-30">
                <div class="sec_title">
                  <h2>Learn something new, and Grow your skills.</h2>
                  <p>Rorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua Ut enim ad minim veniam, quis nostrudye. magna aliqua Utey Tim ad
                    minim veniam, quis nostrudye.</p>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="al_signle">
                      <span><i class="fal fa-check"></i>Expert Trainer</span>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="al_signle">
                      <span><i class="fal fa-check"></i>Remote Learning</span>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="al_signle">
                      <span><i class="fal fa-check"></i>Lifetime Access</span>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="al_signle">
                      <span><i class="fal fa-check"></i>Self Developmentr</span>
                    </div>
                  </div>
                </div>
                <div class="about_btn mt-10">
                  <a class="thm_btn" href="courses.html">View Courses<i class="fal fa-long-arrow-right"></i></a>
                  <a class="thm_btn thm_btn-2" href="about.html">Start Trial<i class="fal fa-long-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- about end -->

      <!-- courses start -->
      <section class="courses_area pt-120 pb-90">
        <div class="container">
          <div class="row align-items-center mb-15">
            <div class="col-lg-8 col-md-8">
              <div class="sec_title">
                <h2>Find the right course for you</h2>
                <p>Online learning offers a new way to explore subjects you’re passionate about.</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="crs_btn text-md-end mb-20">
                <a class="thm_btn" href="courses.html">View all<i class="fal fa-long-arrow-right"></i></a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="course_single mb-30">
                <div class="c_thumb">
                  <img src="static/picture/img_01.jpg" alt="">
                </div>
                <div class="course_content">
                  <div class="c_head">
                    <span class="cat">Architecture</span>
                    <span class="price">$246</span>
                  </div>
                  <h3 class="title"><a href="course-details.html">The Power of Podcast for Story telling Process</a>
                  </h3>
                  <div class="rating_wrap ul_li">
                    <span>13 votes</span>
                    <ul class="rating_star ul_li">
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fal fa-star"></i></li>
                      <li><i class="fal fa-star"></i></li>
                    </ul>
                  </div>
                  <ul class="c_bottom ul_li">
                    <li><i class="fal fa-file-alt"></i>180</li>
                    <li><i class="fal fa-user"></i>28k</li>
                    <li><i class="fal fa-eye"></i>57k</li>
                    <li>
                      <div class="author">
                        <img src="picture/c_author.png" alt="">
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="course_single mb-30">
                <div class="c_thumb">
                  <img src="picture/img_02.jpg" alt="">
                </div>
                <div class="course_content">
                  <div class="c_head">
                    <span class="cat">Engennering</span>
                    <span class="price">$136</span>
                  </div>
                  <h3 class="title"><a href="course-details.html">TAntiquities Trafficking and Art Crime</a></h3>
                  <div class="rating_wrap ul_li">
                    <span>16 votes</span>
                    <ul class="rating_star ul_li">
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fal fa-star"></i></li>
                    </ul>
                  </div>
                  <ul class="c_bottom ul_li">
                    <li><i class="fal fa-file-alt"></i>80</li>
                    <li><i class="fal fa-user"></i>25k</li>
                    <li><i class="fal fa-eye"></i>17k</li>
                    <li>
                      <div class="author">
                        <img src="picture/c_author.png" alt="">
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="course_single mb-30">
                <div class="c_thumb">
                  <img src="picture/img_03.jpg" alt="">
                </div>
                <div class="course_content">
                  <div class="c_head">
                    <span class="cat">User Research</span>
                    <span class="price">$49</span>
                  </div>
                  <h3 class="title"><a href="course-details.html">Fashion and Luxury Fashion in a Changing</a></h3>
                  <div class="rating_wrap ul_li">
                    <span>15 votes</span>
                    <ul class="rating_star ul_li">
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fal fa-star"></i></li>
                      <li><i class="fal fa-star"></i></li>
                    </ul>
                  </div>
                  <ul class="c_bottom ul_li">
                    <li><i class="fal fa-file-alt"></i>180</li>
                    <li><i class="fal fa-user"></i>38k</li>
                    <li><i class="fal fa-eye"></i>37k</li>
                    <li>
                      <div class="author">
                        <img src="picture/c_author.png" alt="">
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="course_single mb-30">
                <div class="c_thumb">
                  <img src="picture/img_04.jpg" alt="">
                </div>
                <div class="course_content">
                  <div class="c_head">
                    <span class="cat">Web Development</span>
                    <span class="price">$63</span>
                  </div>
                  <h3 class="title"><a href="course-details.html">Making Music with Other side People</a></h3>
                  <div class="rating_wrap ul_li">
                    <span>53 votes</span>
                    <ul class="rating_star ul_li">
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fal fa-star"></i></li>
                    </ul>
                  </div>
                  <ul class="c_bottom ul_li">
                    <li><i class="fal fa-file-alt"></i>90</li>
                    <li><i class="fal fa-user"></i>98k</li>
                    <li><i class="fal fa-eye"></i>33k</li>
                    <li>
                      <div class="author">
                        <img src="picture/c_author.png" alt="">
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="course_single mb-30">
                <div class="c_thumb">
                  <img src="picture/img_05.jpg" alt="">
                </div>
                <div class="course_content">
                  <div class="c_head">
                    <span class="cat">Business Study</span>
                    <span class="price">$121</span>
                  </div>
                  <h3 class="title"><a href="course-details.html">Fashion and Luxury Fashion in a Changing</a></h3>
                  <div class="rating_wrap ul_li">
                    <span>63 votes</span>
                    <ul class="rating_star ul_li">
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fal fa-star"></i></li>
                      <li><i class="fal fa-star"></i></li>
                    </ul>
                  </div>
                  <ul class="c_bottom ul_li">
                    <li><i class="fal fa-file-alt"></i>50</li>
                    <li><i class="fal fa-user"></i>61k</li>
                    <li><i class="fal fa-eye"></i>64k</li>
                    <li>
                      <div class="author">
                        <img src="picture/c_author.png" alt="">
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="course_single mb-30">
                <div class="c_thumb">
                  <img src="picture/img_06.jpg" alt="">
                </div>
                <div class="course_content">
                  <div class="c_head">
                    <span class="cat">Data Science</span>
                    <span class="price">$75</span>
                  </div>
                  <h3 class="title"><a href="course-details.html">The Power of Podcast for Story telling Process</a>
                  </h3>
                  <div class="rating_wrap ul_li">
                    <span>13 votes</span>
                    <ul class="rating_star ul_li">
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fal fa-star"></i></li>
                    </ul>
                  </div>
                  <ul class="c_bottom ul_li">
                    <li><i class="fal fa-file-alt"></i>124</li>
                    <li><i class="fal fa-user"></i>88k</li>
                    <li><i class="fal fa-eye"></i>539k</li>
                    <li>
                      <div class="author">
                        <img src="picture/c_author.png" alt="">
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- courses end -->

      <!-- counter start -->
      <section class="counter_area counter_padding" data-overlay="7" data-background="images/counter_bg.jpg">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="coun_wrap">
                <div class="coun_single">
                  <div class="c_icon">
                    <img src="picture/c_01.png" alt="">
                  </div>
                  <div class="c_text">
                    <h2>146<span>+</span></h2>
                    <p>Award Winning</p>
                  </div>
                </div>
                <div class="coun_single">
                  <div class="c_icon">
                    <img src="picture/c_02.png" alt="">
                  </div>
                  <div class="c_text">
                    <h2>28k<span>+</span></h2>
                    <p>Total Student</p>
                  </div>
                </div>
                <div class="coun_single">
                  <div class="c_icon">
                    <img src="picture/c_03.png" alt="">
                  </div>
                  <div class="c_text">
                    <h2>138<span>+</span></h2>
                    <p>Total instructors</p>
                  </div>
                </div>
                <div class="coun_single">
                  <div class="c_icon">
                    <img src="picture/c_04.png" alt="">
                  </div>
                  <div class="c_text">
                    <h2>214<span>+</span></h2>
                    <p>over the world</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- counter end -->

      <!-- join course start -->
      <section class="join_courses_area">
        <div class="container">
          <div class="js_wrap white_bg">
            <div class="row">
              <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
                <div class="js_text">
                  <div class="sec_title sec_title-2 text-center">
                    <h2>If your need join our course</h2>
                    <p>We believe everyone has the capacity to be creative. Turitor is aplace where people develop their
                      own potential.</p>
                  </div>
                  <form class="js_from" action="#">
                    <input type="text" placeholder="Enter your mail">
                    <button class="thm_btn thm_btn-2">submit now<i class="fal fa-long-arrow-right"></i></button>
                  </form>
                </div>
              </div>
            </div>
            <div class="js_icon">
              <div class="left">
                <img src="picture/js_01.png" alt="">
              </div>
              <div class="right">
                <img src="picture/js_02.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- join course end -->

      <!-- team start -->
      <section class="team_area pt-110 pb-90">
        <div class="container">
          <div class="row align-items-center mb-15">
            <div class="col-lg-8 col-md-8">
              <div class="sec_title">
                <h2>Featured Instructors</h2>
                <p>Online learning offers a new way to explore subjects you’re passionate about.</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="crs_btn text-md-end mb-20">
                <a class="thm_btn" href="team.html">View all<i class="fal fa-long-arrow-right"></i></a>
              </div>
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="col-lg-4 col-md-6">
              <div class="team_single text-center mb-30">
                <div class="team_thumb">
                  <img src="picture/team_01.jpg" alt="">
                  <div class="team_social social_icon">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                  </div>
                </div>
                <div class="team_text">
                  <h3><a href="team-details.html">Mohammad Wasim</a></h3>
                  <p>Web Developer</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="team_single text-center mb-30">
                <div class="team_thumb">
                  <img src="picture/team_02.jpg" alt="">
                  <div class="team_social social_icon">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                  </div>
                </div>
                <div class="team_text">
                  <h3><a href="team-details.html">Yalina De Demandy</a></h3>
                  <p>Architecture Specialistr</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="team_single text-center mb-30">
                <div class="team_thumb">
                  <img src="picture/team_03.jpg" alt="">
                  <div class="team_social social_icon">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                  </div>
                </div>
                <div class="team_text">
                  <h3><a href="team-details.html">Rasalina de willamson</a></h3>
                  <p>Software Enginner</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- team end -->

      <!-- testimonial start -->
      <section class="testimonial_area">
        <div class="container-fluid p-0">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="tm_left-wrap" data-overlay="7" data-background="images/tm_bg.jpg">
                <div class="sec_title">
                  <h2>Our happy student say</h2>
                  <p>Rorem ipsum dolor sit amet consectetur adipisicing elit. Delectus quas aperiam cum eligendi libero
                    iusto nostrum eaque alias quasi minima maxime provident, dolor mollitia quis inventore impedit,
                    deserunt blanditiis quos cumque quibusdam eum quidem.</p>
                </div>
                <div class="tm_btn">
                  <a class="thm_btn thm_btn-2" href="courses.html">View All Courses<i
                      class="fal fa-long-arrow-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="tm_right-wrap">
                <div class="testimonial_active owl-carousel">
                  <div class="testimonial_single">
                    <div class="tm_thumb">
                      <img src="picture/tm_author.jpg" alt="">
                    </div>
                    <div class="tm_text">
                      <p>Rorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                        dolore eu fugiat nulla pariatur. </p>
                      <div class="tma_info mt-50">
                        <h4>Rasalina De Willamson</h4>
                        <p>Founder,Foxer.co</p>
                      </div>
                    </div>
                  </div>
                  <div class="testimonial_single">
                    <div class="tm_thumb">
                      <img src="picture/tm_author.jpg" alt="">
                    </div>
                    <div class="tm_text">
                      <p>Rorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                        dolore eu fugiat nulla pariatur. </p>
                      <div class="tma_info mt-50">
                        <h4>Rasalina De Willamson</h4>
                        <p>Founder,Foxer.co</p>
                      </div>
                    </div>
                  </div>
                  <div class="testimonial_single">
                    <div class="tm_thumb">
                      <img src="picture/tm_author.jpg" alt="">
                    </div>
                    <div class="tm_text">
                      <p>Rorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                        dolore eu fugiat nulla pariatur. </p>
                      <div class="tma_info mt-50">
                        <h4>Rasalina De Willamson</h4>
                        <p>Founder,Foxer.co</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- testimonial end -->

      <!-- blog start -->
      <section class="blog_area blog_top-space pt-190 pb-90">
        <div class="container">
          <div class="row align-items-center mb-15">
            <div class="col-lg-8 col-md-8">
              <div class="sec_title">
                <h2>Every single update from here</h2>
                <p>Online learning offers a new way to explore subjects you’re passionate about.</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="crs_btn text-md-end mb-20">
                <a class="thm_btn" href="blog.html">View all<i class="fal fa-long-arrow-right"></i></a>
              </div>
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="col-lg-4 col-md-6">
              <div class="blog_single mb-30">
                <h3 class="title"><a href="blog-details.html">Fashion and Luxury Fashion in a Changing Issues</a></h3>
                <ul class="meta ul_li">
                  <li><a href="#"><i class="fal fa-user"></i>Rasalina De</a></li>
                  <li><i class="fal fa-heart"></i>36 like</li>
                  <li><a href="#"><i class="fal fa-comments"></i>8 Comments</a></li>
                </ul>
                <div class="blog_thumb">
                  <a href="blog-details.html">
                    <img src="picture/blog_01.jpg" alt="">
                  </a>
                  <span class="date">5,dec</span>
                </div>
                <a class="blog_btn" href="blog-details.html"><i class="ti-plus"></i></a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="blog_single mb-30">
                <h3 class="title"><a href="blog-details.html">Making Music with Other Super People</a></h3>
                <ul class="meta ul_li">
                  <li><a href="#"><i class="fal fa-user"></i>Wasim Mia</a></li>
                  <li><i class="fal fa-heart"></i>53 like</li>
                  <li><a href="#"><i class="fal fa-comments"></i>21 Comments</a></li>
                </ul>
                <div class="blog_thumb">
                  <a href="blog-details.html">
                    <img src="picture/blog_02.jpg" alt="">
                  </a>
                  <span class="date">6,dec</span>
                </div>
                <a class="blog_btn" href="blog-details.html"><i class="ti-plus"></i></a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="blog_single mb-30">
                <h3 class="title"><a href="blog-details.html">The Power of Podcast for Story telling system</a></h3>
                <ul class="meta ul_li">
                  <li><a href="#"><i class="fal fa-user"></i>Rasalina De</a></li>
                  <li><i class="fal fa-heart"></i>76 like</li>
                  <li><a href="#"><i class="fal fa-comments"></i>9 Comments</a></li>
                </ul>
                <div class="blog_thumb">
                  <a href="blog-details.html">
                    <img src="picture/blog_03.jpg" alt="">
                  </a>
                  <span class="date">19,dec</span>
                </div>
                <a class="blog_btn" href="blog-details.html"><i class="ti-plus"></i></a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- blog end -->

      <!-- bai start -->
      <section class="bai_area bai_bootom_space">
        <div class="container">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="bai_wrap bai_left theme_bg">
                <span># Become A Instructor</span>
                <h3>Become a Instructor</h3>
                <a class="thm_btn thm_btn-border" href="contact.html">apply now<i
                    class="fal fa-long-arrow-right"></i></a>
                <div class="bai_shape">
                  <img src="picture/bai_shape_01.png" alt="">
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="bai_wrap bai_right white_bg">
                <span># Become A Partner</span>
                <h3>Become a Partner</h3>
                <a class="thm_btn thm_btn-2" href="contact.html">Contact us<i class="fal fa-long-arrow-right"></i></a>
                <div class="bai_shape">
                  <img src="picture/bai_shape_02.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- bai end -->

    </main>

    <!-- footer start -->
    <footer class="footer_area footer_bg footer_space">
      <div class="container">
        <div class="subscribe_wrap">
          <div class="row">
            <div class="col-lg-7 col-md-6">
              <div class="sub_text">
                <h3>Sign up Newslatter</h3>
              </div>
            </div>
            <div class="col-lg-5 col-md-6">
              <form class="sub_from" action="#">
                <input type="text" placeholder="Enter Your Mail">
                <button class="thm_btn">Subscribe</button>
              </form>
            </div>
          </div>
        </div>
        <div class="footer_main">
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="footer_widget">
                <h3>About Edulan</h3>
                <div class="about_text">
                  <p>Rorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                </div>
                <div class="social_icon mt-45">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-behance"></i></a>
                  <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-6">
              <div class="footer_widget footer_link-left">
                <h3>Categories</h3>
                <ul class="footer_link">
                  <li><a href="#">All Courses</a></li>
                  <li><a href="#">Design Courses</a></li>
                  <li><a href="#">Branding Design</a></li>
                  <li><a href="#">Business</a></li>
                  <li><a href="#">Architecture</a></li>
                  <li><a href="#">Digital Branding</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="footer_widget footer_link-right">
                <h3>Support</h3>
                <ul class="footer_link">
                  <li><a href="#">Contact Support</a></li>
                  <li><a href="#">System Requermnet</a></li>
                  <li><a href="#">Site Feedback</a></li>
                  <li><a href="#">Register Activation Key</a></li>
                  <li><a href="#">24/7 Service</a></li>
                  <li><a href="#">System Requerment</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="footer_widget footer_right_text">
                <h3>Get In Touch</h3>
                <ul>
                  <li>
                    <p>786/A Romada tower mall Brooklyn, NYC</p>
                  </li>
                  <li>
                    <p>+1 876 765765 65</p>
                    <p>(1)787 876876 87</p>
                  </li>
                  <li>
                    <p>info@tojn.com</p>
                    <p>jobsinfo@tojn.com</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="footer_bottom">
          <div class="left f-left ul_li">
            <div class="logo">
              <a href="index.html"><img src="picture/logo_white.png" alt=""></a>
            </div>
            <ul class="info ul_li">
              <li>info@tojn.com</li>
              <li> 24/7</li>
            </ul>
          </div>
          <div class="right f-right">
            <a class="thm_btn thm_btn-border" href="account.html">Login<i class="fal fa-key"></i></a>
            <a class="thm_btn" href="account.html">Sign Up<i class="fal fa-long-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </footer>
    <!-- footer end -->

  </div>
  <!-- body wrap end -->

  <!-- jquery include -->
  <script src="js/jquery-3.5.1.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/metismenu.min.js"></script>
  <script src="js/wow.min.js"></script>
  <script src="js/jquery.nice-select.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/isotope.pkgd.min.js"></script>
  <script src="js/imagesloaded.pkgd.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/main.js"></script>
</body>

</html>