<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Question List</title>
    <th:block th:replace="fragments/meta_head :: meta_head">
    </th:block>
</head>
<body>
<div th:include="fragments/navbar:: home_navbar(${categoryList})"></div>


<div class="container mt-100 py-5">
    <h3 class="text-center">My Registration</h3>
    <div class="card mb-3 no-gutters">
        <table class="table no-gutters">
            <thead>
            <tr class="no-gutters">
                <th scope="col"><a>ID</a></th>
                <th scope="col"><a>Course</a></th>
                <th scope="col">Total cost</th>
                <th scope="col">Package</th>
                <th scope="col"><a>Start Date</a></th>
                <th scope="col"><a>End Date</a></th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="regis : ${courseRegister}">
                <th scope="row" th:text="${regis.id}"></th>
                <td><a th:href="@{'/course_detail/' + ${regis.course.getId()}}"
                       class="text-big link-detail" data-abc="true" th:text="${regis.course.getTitle()}"></a></td>
                <td th:text="${regis.pricePackage.salePrice}"></td>
                <td th:text="${regis.pricePackage.name}"></td>
                <td th:text="${regis.startDate}"></td>
                <td th:text="${regis.endDate}"></td>
                <th:block th:if="${regis.registrationStatus == 1}">
                    <td><a th:href="@{'/course_modal/' + ${regis.course.getId()}}" class="text-primary link-detail">Submitted</a>
                    </td>
                </th:block>
                <th:block th:if="${regis.registrationStatus == 2}">
                    <td class="text-primary">Completed</td>
                </th:block>
                <th:block th:if="${regis.registrationStatus == 3}">
                    <td class="text-primary">Cancelled</td>
                </th:block>
            </tr>
            </tbody>
        </table>
    </div>

</div>

<th:block th:replace="fragments/footer :: footer">
</th:block>
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>
</body>
<th:block th:replace="fragments/js_lib :: js_lib">
</th:block>
<script type="text/javascript">
    $(document).ready(function () {
        $(".link-detail").on("click", function (e) {
            e.preventDefault();
            $("#myModal").modal("show").find(".modal-content").load($(this).attr("href"));
        });
    });

</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</html>