<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Post blog</title>
    <meta charset="utf-8">
    <th:block th:replace="fragments/meta_head :: meta_head"></th:block>
</head>

<body>
<!-- body wrap start -->
<div class="body_wrap bg-white">
    <div th:include="fragments/navbar:: home_navbar(${categoryList})"></div>

    <main class="container">

        <!-- SLIDESHOW -->
        <section>
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <th:block th:each="slide, iter : ${slideList}">
                        <button type="button" data-bs-target="#carouselExampleCaptions"
                                th:data-bs-slide-to="${iter.index}"
                                aria-current="true" th:data-aria-label="'Slide' + ${iter.count}"
                                th:classappend="${iter.first} ? 'active' : ''"></button>
                    </th:block>

                </div>
                <div class="carousel-inner">
                    <div class="carousel-item" th:each="slide, iter : ${slideList}"
                         th:classappend="${iter.first} ? 'active' : ''">
                        <img th:src="@{${slide.slideImagePath}}" class="d-block w-100" alt="...">
                        <div class="carousel-caption slide-text-box shadow-sm">
                            <h5 th:text="${slide.title}"></h5>
                            <p th:text="${slide.description}"></p>
                            <a th:href="${slide.courseLink}" class="btn btn-outline-primary">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <hr>
        <h1>Post blog form</h1>
        <form th:action="@{/addBlog}" th:object="${blog}" method="post" enctype="multipart/form-data">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Add your blog</h5>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <span for="inputName">Brief:</span>
                            <input type="text" th:field="*{brief}" class="form-control" id="inputBrief">
                        </div>

                        <div class="form-group">
                            <span for="inputName">Content:</span>
                            <textarea type="text" th:field="*{content}" class="form-control"
                                      id="inputContent"></textarea>
                        </div>

                        <div class="form-group">
                            <span for="inputName">Feature:</span>
                            <input type="text" th:field="*{featured}" class="form-control" id="inputFeature">
                        </div>

                        <!--image file input-->
                        <div class="form-group">
                            <span for="inputImage">Thumbnail:</span>
                            <input type="file" name="fileImage" id="fileImage" accept="image/jpeg, image/png"/>
                        </div>

                        <div class="form-group">
                            <span for="inputDescription">Title:</span>
                            <input type="text" th:field="*{title}" class="form-control" id="inputTitle">
                        </div>

                        <div class="form-group">
                            <span for="inputAuthor">Author account (Default):</span>
                            <select th:field="*{user}" class="form-select" name="category"
                                    style="height: auto;">
                                <th:block>
                                    <option th:text="${currUser.username}" th:value="${currUser.id}"
                                            name="cate_id"></option>
                                </th:block>
                            </select>
                        </div>

                        <div class="form-group">
                            <span for="inputCourseLink">Category:</span>
                            <select th:field="*{category}" class="form-select" name="category"
                                    style="height: auto;">
                                <th:block th:each="cate : ${categoryList}">
                                    <option th:text="${cate.value}" th:value="${cate.id}"
                                            name="cate_id"></option>
                                </th:block>
                            </select>
                        </div>

                        <div class="form-group">
                            <span for="addType" class="col-form-label">Status:</span>
                            <select th:field="*{status}" class="form-select" name="status"
                                    style="height: auto;">
                                <th:block th:each="status : ${statusList}">
                                    <option th:text="${status.value}" th:value="${status.id}"
                                            name="status_id"></option>
                                </th:block>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="/" type="button" class="btn btn-secondary">Dismiss</a>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>

    </main>

    <th:block th:replace="fragments/footer :: footer">

    </th:block>

</div>
<!-- body wrap end -->

<th:block th:replace="fragments/js_lib :: js_lib">
</th:block>
</body>

</html>
