<div class="modal-header">
    <h5 class="modal-title" id="modalTitle"> Registration Details</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" data-dismiss="modal"
            aria-label="Close"></button>
</div>
<!-- course details start -->
<form method="POST" th:action="@{/updateRegistration}" >
    <section class="course_details_area pt-30 pb-10">
        <div class="container">
            <input type="hidden" th:field="*{userCourse.id}" readonly>
            <input type="hidden" th:field="*{userCourse.user}" readonly>
            <label>Email: </label>
            <input type="text" class="form-control" th:field="${userCourse.user.email}" readonly>
            <label>Full Name: </label>
            <input type="text" class="form-control" th:field="${userCourse.user.fullName}" readonly>
            <label>Phone: </label>
            <input type="text" class="form-control" th:field="${userCourse.user.phone}" readonly>
            <label>Registration Date</label>
            <input type="text" class="form-control" th:field="*{userCourse.registrationDate}" readonly>
            <label>Total cost:</label>
            <input type="text" class="form-control" th:field="${userCourse.pricePackage.salePrice}" readonly>
            <div class="col-6">
                <label>Valid from:</label>
                <input type="date" class="form-control" th:field="*{userCourse.startDate}">
                <label>Valid to:</label>
                <input type="date" class="form-control col-6" th:field="*{userCourse.endDate}" >
            </div>
            <div class="left">
                <div class="col-6">
                    <div class="col-auto">
                        <label for="course" class="col-form-label">Course : </label>
                    </div>
                    <div class="col-auto">
                        <select id="course" class="form-select" name="course" style="height: auto;" th:field="*{userCourse.course}">
                            <option value="-1">All Course</option>
                            <th:block th:each="course : ${courseList}">
                                <option th:value="${course.id}"
                                        th:text="${course.title}"></option>
                            </th:block>
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="col-auto">
                        <label for="pricePackage" class="col-form-label">Price Package : </label>
                    </div>
                    <div class="col-auto">
                        <select id="pricePackage" class="form-select" name="pricePackage" style="height: auto;" th:field="*{userCourse.pricePackage}">
                            <th:block th:each="pp : ${pricePackage}">
                                <option th:value="${pp.id}"
                                        th:text="${pp.name}"></option>
                            </th:block>
                        </select>
                    </div>
                </div>

                <div class="col-6">
                    <div class="col-auto">
                        <label for="status" class="col-form-label">Status : </label>
                    </div>
                    <div class="col-auto">
                        <select id="status" class="form-select" name="pricePackage" style="height: auto;" th:field="*{userCourse.registrationStatus}">
                            <option value="1" class="text-warning">Submitted</option>
                            <option value="2" class="text-success">Completed</option>
                            <option value="3" class="text-primary">Cancelled</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal-footer">
        <button type="submit" class="mr-2 btn btn-primary btn-block" id="submit">
            Update
        </button>
        <button type="button" class="btn btn-secondary close" data-dismiss="modal" data-bs-dismiss="modal">
            Close
        </button>
    </div>
</form>
<!-- course details end -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
